/* reset */
*
{
    margin: 0;
    padding: 0;
}

/* globais */
body
{
    height: 100vh;
    box-sizing: border-box; /* impede o "vazamento" dos elementos filhos */
    background-color: #000000;
    color: #F6F6F6;
    font-family: "Montserrat", serif;
}

strong
{
    color: #22D4FD;
}

/* conteúdo principal */
.apresentacao
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* títulos */
h2
{
    font-family: "Krona One", serif;
}
