/* reset */
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* globais */
:root
{  
    --background-color: #000000;
    --font-color: #F6F6F6;
    --accent-color: #22D4FD;    
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Krona One", sans-serif;    
}

body
{
    box-sizing: border-box; /* impede o "vazamento" dos elementos filhos */
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--primary-font);
}

strong
{
    color: var(--accent-color);
}

/* cabecalho */
.cabecalho
{
    padding: 2% 0 0 15%;
}

.cabecalho__menu
{
    display: flex;
    gap: 80px;
}

.cabecalho__menu_item
{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent-color);   
}

/* conteúdo principal */
.apresentacao
{
    margin: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__texto
{
    width: 593px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* títulos */
.apresentacao__texto_titulo
{
    font-family: var(--secondary-font);
    font-size: 2.25rem;
}

/* textos */
.apresentacao__texto_texto
{
    font-size: 1.5rem;
}

/* links (botões) */
.apresentacao__links
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao__links_subtitulo
{
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links_link
{   
    display: flex;
    justify-content: center;
    gap: 1rem;    
    padding: 21.5px 0;
    width: 378px;
    text-align: center;    
    border-radius: 8px;   
    text-decoration: none;
    color:var(--font-color);
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid var(--accent-color);
}

.apresentacao__links_link:hover
{
   background-color: var(--background-color); 
}

/* rodapé */
.rodape
{
    padding: 1.5rem;
    color: var(--background-color);
    background-color: var(--accent-color);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}
